In [4]:
import pandas as pd

In [7]:
demo=pd.read_excel("sdmx_data_246.xlsx")

In [8]:
demo

,Code,Klassifikator,Klassifikator_ru,Klassifikator_en,Klassifikator_uzc,2010,2011,2012,2013,2014,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,1700,O‘zbekiston Respublikasi,Республика Узбекистан,Republic of Uzbekistan,Ўзбекистон Республикаси,28001.4,29123.4,29555.4,29993.5,30492.8,...,31575.3,32120.5,32656.7,33255.5,33905.2,34558.9,35271.3,36024.9,36799.8,37543.2
1,1735,Qoraqalpog‘iston Respublikasi,Республика Каракалпакстан,Republic of Karakalpakstan,Қорақалпоғистон Республикаси,1632.0,1680.9,1692.8,1711.8,1736.5,...,1791.1,1817.5,1842.3,1869.8,1898.3,1923.7,1948.5,1976.2,2002.7,2029.7
2,1735401,Nukus shahri,Город Нукус,Nukus city,Нукус шаҳри,271.5,284.3,286.4,289.0,295.2,...,303.7,307.4,310.9,314.9,319.6,323.8,329.0,334.6,339.2,344.7
3,1735204,Amudaryo tumani,Амударьинский район,Amudarya district,Aмударё тумани,163.5,172.3,174.4,176.8,179.1,...,185.7,188.7,191.6,195.3,199.2,201.4,204.8,208.6,212.1,215.6
4,1735207,Beruniy tumani,Берунийский район,Beruniy district,Беруний тумани,159.1,162.2,164.5,167.3,170.3,...,177.2,180.5,183.9,187.6,191.4,194.5,197.4,201.2,205.1,209.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,1726283,Sirg‘ali tumani,Сергелийский район,Sergeli district,Сирғали тумани,150.4,158.5,158.9,162.2,164.4,...,168.2,171.0,175.8,181.9,195.8,105.7,138.2,162.3,168.2,173.2
217,1726287,Yakkasaroy tumani,Яккасарайский район,Yakkasaray district,Яккасарой тумани,116.0,115.7,115.0,115.1,114.5,...,115.1,115.7,117.5,119.1,118.9,121.6,124.0,126.9,133.5,139.7
218,1726290,Yashnobod tumani,Яшнободский район,Yashnabad district,Яшнобод тумани,206.1,214.8,214.6,217.8,218.9,...,220.3,222.3,226.6,232.0,241.8,258.8,281.6,289.5,300.1,309.7
219,1726292,Yangihayot tumani,Янгихаётский район,Yangikhayot district,Янгиҳаёт тумани,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,132.8,160.4,161.1,174.7,188.2
220,1726294,Chilonzor tumani,Чиланзарский район,Chilanzar district,Чилонзор тумани,218.9,223.9,223.8,228.3,230.6,...,233.3,236.0,239.5,243.6,248.1,260.7,266.6,272.0,275.1,276.7

In [10]:
demo2=demo[["Klassifikator","2010","2011","2012","2013","2014"]].head(2)
demo2

                   Klassifikator     2010     2011     2012     2013     2014
0       O‘zbekiston Respublikasi  28001.4  29123.4  29555.4  29993.5  30492.8
1  Qoraqalpog‘iston Respublikasi   1632.0   1680.9   1692.8   1711.8   1736.5

In [11]:
demo2.melt(
    id_vars=["Klassifikator"],
    value_vars=["2010","2011","2012","2013","2014"],
    var_name="Year",
    value_name="aholi_soni"
)

                   Klassifikator  Year  aholi_soni
0       O‘zbekiston Respublikasi  2010     28001.4
1  Qoraqalpog‘iston Respublikasi  2010      1632.0
2       O‘zbekiston Respublikasi  2011     29123.4
3  Qoraqalpog‘iston Respublikasi  2011      1680.9
4       O‘zbekiston Respublikasi  2012     29555.4
5  Qoraqalpog‘iston Respublikasi  2012      1692.8
6       O‘zbekiston Respublikasi  2013     29993.5
7  Qoraqalpog‘iston Respublikasi  2013      1711.8
8       O‘zbekiston Respublikasi  2014     30492.8
9  Qoraqalpog‘iston Respublikasi  2014      1736.5

In [13]:
demo3=demo2.melt(
    id_vars=["Klassifikator"],
    value_vars=["2010","2011","2012","2013","2014"],
    var_name="Year",
    value_name="aholi_soni"
)

In [14]:
demo3.pivot_table(
    index="Klassifikator",
    columns="Year",
    values="aholi_soni",
    aggfunc="sum"
)

Year                              2010     2011     2012     2013     2014
Klassifikator
O‘zbekiston Respublikasi       28001.4  29123.4  29555.4  29993.5  30492.8
Qoraqalpog‘iston Respublikasi   1632.0   1680.9   1692.8   1711.8   1736.5

In [16]:
d={
    "product":["lap","lap","lap","phon","phon","phon","tab","tab","tab"],
    "category":["low","med","high","low","med","high","low","med","high"],
    "sales":[100,250,300,25,100,130,120,140,150]
}
df=pd.DataFrame(d)
df

  product category  sales
0     lap      low    100
1     lap      med    250
2     lap     high    300
3    phon      low     25
4    phon      med    100
5    phon     high    130
6     tab      low    120
7     tab      med    140
8     tab     high    150

In [17]:
df.pivot_table(
    index="product",
    columns="category",
    values="sales",
    aggfunc="sum"
)

category  high  low  med
product
lap        300  100  250
phon       130   25  100
tab        150  120  140

In [19]:
df.pivot_table(
    index="product",
    columns="category",
    values="sales",
    aggfunc="sum",
    sort=False
)

category  low  med  high
product
lap       100  250   300
phon       25  100   130
tab       120  140   150

In [22]:
employee=pd.read_csv("employee.csv")
employee

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22
...,...,...,...,...,...,...,...,...,...,...
1995,1995,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,Active,2014-06-09,2015-06-09
1996,1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,Active,2003-09-02,2013-10-06
1997,1997,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,Active,2014-10-13,2015-10-13
1998,1998,POLICE OFFICER,Houston Police Department-HPD,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2009-01-20,2011-07-02
1999,1999,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Hispanic/Latino,Full Time,Male,Active,2009-01-12,2010-07-12

In [26]:
# savol xozirgi kunda ishlab turgan ayol ishchilardan toliq stavkada ishlayotganlar
filt1=employee["EMPLOYMENT_TYPE"]=="Full Time"
filt2=employee["GENDER"]=="Female"
filt3=employee["EMPLOYMENT_STATUS"]=="Active"
employee[filt1&filt2&filt3]

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18
35,35,DENTAL ASSISTANT,Health & Human Services,34923.0,Black or African American,Full Time,Female,Active,1982-04-05,1990-11-03
36,36,SENIOR INSPECTOR,Public Works & Engineering-PWE,60258.0,White,Full Time,Female,Active,2004-08-03,2007-03-10
38,38,SENIOR MICROCOMPUTER ANALYST,Health & Human Services,67499.0,Asian/Pacific Islander,Full Time,Female,Active,1994-06-29,1997-08-30
...,...,...,...,...,...,...,...,...,...,...
1976,1976,SENIOR SIDELOADER OPERATOR,Solid Waste Management,34466.0,Hispanic/Latino,Full Time,Female,Active,2015-07-20,2016-01-30
1978,1978,POLICE SERVICE OFFICER,Houston Police Department-HPD,27914.0,Black or African American,Full Time,Female,Active,2011-10-14,2014-03-01
1983,1983,ADMINISTRATIVE SPECIALIST,Admn. & Regulatory Affairs,55172.0,Black or African American,Full Time,Female,Active,2006-10-16,2006-10-16
1990,1990,BUILDING MAINTENANCE SUPERVISOR,Parks & Recreation,30347.0,Black or African American,Full Time,Female,Active,1995-10-14,2010-03-20
1991,1991,MOBILITY SERVICE OFFICER,Houston Police Department-HPD,44429.0,Hispanic/Latino,Full Time,Female,Active,2005-09-12,2007-06-02

In [27]:
employee["avg_salary"]=employee["BASE_SALARY"].mean()

In [28]:
employee[employee["BASE_SALARY"]>employee["avg_salary"]]

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,avg_salary
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13,55767.931601
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25,55767.931601
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22,55767.931601
5,5,SENIOR POLICE OFFICER,Houston Police Department-HPD,66614.0,Black or African American,Full Time,Male,Active,1984-11-26,2005-03-26,55767.931601
6,6,ENGINEER,Public Works & Engineering-PWE,71680.0,Asian/Pacific Islander,Full Time,Male,Active,2012-03-26,2012-03-26,55767.931601
...,...,...,...,...,...,...,...,...,...,...,...
1986,1986,POLICE SERGEANT,Houston Police Department-HPD,77076.0,White,Full Time,Male,Active,2001-12-03,2010-12-10,55767.931601
1988,1988,SENIOR ASSISTANT CITY ATTORNEY II,Legal Department,124115.0,White,Full Time,Male,Active,2013-01-23,2013-03-02,55767.931601
1993,1993,POLICE SERGEANT,Houston Police Department-HPD,81239.0,White,Full Time,Male,Active,1982-05-03,2011-09-03,55767.931601
1994,1994,POLICE CAPTAIN,Houston Police Department-HPD,104455.0,Black or African American,Full Time,Male,Active,1983-02-07,2004-07-08,55767.931601
1996,1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,Active,2003-09-02,2013-10-06,55767.931601

In [30]:
employee["avg_sal_by_dep"]=employee.groupby("DEPARTMENT")["BASE_SALARY"].transform("mean")
employee

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,avg_salary,avg_sal_by_dep
0,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13,55767.931601,53745.384615
1,1,LIBRARY ASSISTANT,Library,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18,55767.931601,43997.500000
2,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03,55767.931601,60268.495652
3,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25,55767.931601,59528.867568
4,4,ELECTRICIAN,General Services Department,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22,55767.931601,51295.818182
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1995,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,Active,2014-06-09,2015-06-09,55767.931601,60268.495652
1996,1996,COMMUNICATIONS CAPTAIN,Houston Fire Department (HFD),66523.0,Black or African American,Full Time,Male,Active,2003-09-02,2013-10-06,55767.931601,59528.867568
1997,1997,POLICE OFFICER,Houston Police Department-HPD,43443.0,White,Full Time,Male,Active,2014-10-13,2015-10-13,55767.931601,60268.495652
1998,1998,POLICE OFFICER,Houston Police Department-HPD,55461.0,Asian/Pacific Islander,Full Time,Male,Active,2009-01-20,2011-07-02,55767.931601,60268.495652
1999,1999,FIRE FIGHTER,Houston Fire Department (HFD),51194.0,Hispanic/Latino,Full Time,Male,Active,2009-01-12,2010-07-12,55767.931601,59528.867568

In [35]:
employee.sort_values("BASE_SALARY",ascending=False)

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,avg_salary,avg_sal_by_dep
593,593,CITY ATTORNEY,Legal Department,275000.0,Black or African American,Full Time,Male,Active,2016-05-02,2016-05-02,55767.931601,104959.529412
178,178,"ASSOCIATE EMS PHYSICIAN DIRECTOR,MD",Houston Fire Department (HFD),210588.0,White,Full Time,Male,Active,2001-09-05,2003-05-10,55767.931601,59528.867568
767,767,DEPUTY DIRECTOR-FINANCE & ADMINISTRATION,Houston Police Department-HPD,199596.0,White,Full Time,Male,Active,2007-02-01,2007-02-01,55767.931601,60268.495652
855,855,DEPUTY DIRECTOR-AVIATION (EX LVL),Houston Airport System (HAS),186192.0,Black or African American,Full Time,Male,Active,2013-08-22,2014-08-16,55767.931601,53956.066038
11,11,"CHIEF PHYSICIAN,MD",Health & Human Services,180416.0,Black or African American,Full Time,Male,Active,1987-05-22,1999-08-28,55767.931601,51305.933962
...,...,...,...,...,...,...,...,...,...,...,...,...
1962,1962,SENIOR POLICE OFFICER,Houston Police Department-HPD,NaN,White,Full Time,Male,Active,1982-06-28,2002-12-07,55767.931601,60268.495652
1968,1968,CUSTOMER SERVICE CLERK,Library,NaN,Black or African American,Part Time,Female,Active,2013-08-05,2013-08-05,55767.931601,43997.500000
1969,1969,POLICE SERGEANT,Houston Police Department-HPD,NaN,White,Full Time,Male,Active,1977-10-24,2015-12-19,55767.931601,60268.495652
1980,1980,SENIOR POLICE OFFICER,Houston Police Department-HPD,NaN,White,Full Time,Male,Active,1983-10-03,2006-05-06,55767.931601,60268.495652
1987,1987,SENIOR POLICE OFFICER,Houston Police Department-HPD,NaN,White,Full Time,Male,Active,1977-05-23,2002-01-05,55767.931601,60268.495652

In [36]:
employee["BASE_SALARY"].sum()/employee["UNIQUE_ID"].count()

np.float64(52589.1595)

In [40]:
catalog=pd.read_excel("example.xlsx")
t1=pd.read_csv("fayl.csv",sep=";")
t2=pd.read_csv("fayl2.csv",sep=";")
t3=pd.read_csv("fayl3.csv",sep=";")
ls=[t1,t2,t3]
df.pd.concat(ls)

FileNotFoundError: [Errno 2] No such file or directory: 'example.xlsx'

In [ ]:
df=df.merge(catalog, on="okpo",how="inner")
filt=df["row"].isin([104,105,107])
df=df[~filt]